@import '../../partials/mixins';

.output {
  display: flex;
  justify-content: center;
  align-items: center;
  &__list {
    max-width: 1200px;
    width: 100%;
    border: 1px solid;
    border-radius: 10px;
    list-style-type: none;
    padding: 1rem;
    background-color: #fff;
  }
  &__li {
    @include text;
    font-weight: 400;
    border: 1px solid;
    margin: 0.5rem 0;
  }
}